---
import {
  getBusinessName,
  getServices,
  getNAP,
  getPreferredCTA,
  getMainCitySlug,
  getPrimaryCategorySlug,
  phoneHref,
} from "@lib/cluster";

const businessName = getBusinessName();
const services = getServices();
const nap = getNAP();
const cta = getPreferredCTA();
const mainCitySlug = getMainCitySlug();
const primaryCatSlug = getPrimaryCategorySlug();
---

<header class="site-header">
  <a href="/" class="site-header__brand">{businessName}</a>

  <nav class="site-header__nav">
    {services.slice(0, 3).map((s) => (
      <a
        href={`/${primaryCatSlug}/${mainCitySlug}/${s.slug}/`}
        class="site-header__nav-link"
      >
        {s.name}
      </a>
    ))}
    <a href="/contacto/" class="site-header__nav-link">Contacto</a>
  </nav>

  <a href={phoneHref(nap.phone)} class="site-header__phone">{nap.phone}</a>
  <a href="/contacto/" class="site-header__cta">{cta}</a>
</header>
